<div class="body">
    <h1 class="contact">Contact Management</h1>
    <br>
    
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
            </div>
            <div> <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder= "Search">
            </div>
            <br>
            
            <table class="table table-bordered" width="800" cellspacing="0" cellpadding="0">
                <thead class="thead-dark">
                    <tr>
                        <th (click)="sort('ID')">ID &#8661;</th>
                        <th (click)="sort('applicationCode')">Application Code &#8661;</th>
                        <th (click)="sort('fileCode')">File Code &#8661;</th>
                        <th (click)="sort('fileTypeCode')">File Type Code &#8661;</th>
                        <th (click)="sort('contacts')">Contacts &#8661;</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contacts of contact | async | filter:searchText | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                        <td *ngIf="isAdmin==='true'"><input #{{contacts.id}} [(ngModel)]="contacts.selected" type="checkbox"></td>
                        <td>{{contacts.id}}</td>
                        <td>{{contacts.applicationCode}}</td>
                        <td>{{contacts.fileCode}}</td>
                        <td>{{contacts.fileTypeCode}}</td>
                        <td>{{contacts.contacts}}</td>
                        <td>
                            <button (click)="detailContact(contacts.id)" class="detail" title="Detail" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></button>
                            <button *ngIf="isAdmin==='Admin'" (click)="updateContact(contacts.id)" class="update" title="Update" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                            <button *ngIf="isAdmin==='Admin'" (click)="clickMethod(contacts.id)" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
        <p >
            <!--
<button class="btn btn-danger deleteAll" title="Delete" data-toggle="tooltip">Delete</button>
            -->
        
            <a *ngIf="isAdmin==='Admin'" routerLink="/contact-form" class="btn btn-primary add-new">New Contact</a>
            <button class="btn btn-info exportExcel" title="Export" data-toggle="tooltip" (click)="export()">Export</button>
        </p>

    </div>   
    </div>