<div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="applicationCode">Application Code</label>
                <input #applicationCode="ngModel" id="applicationCode" type="text" class="form-control" required
                    [(ngModel)]="application.applicationCode" name="applicationCode" placeholder="Application Code">
                <div class="alert alert-danger" *ngIf="applicationCode.touched && applicationCode.invalid">
                    Application Code is required.
                </div>
            </div>
            <div class="form-group">
                <label for="applicationName">Application Name</label>
                <input #applicationName="ngModel" id="applicationName" type="text" class="form-control" required
                    [(ngModel)]="application.applicationName" name="applicationName" placeholder="Application Name">
                <div class="alert alert-danger" *ngIf="applicationName.touched && applicationName.invalid">
                    Application Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="applicationContact">Contacts</label>
                <input #contacts="ngModel" id="contacts" type="text" class="form-control" required
                    [(ngModel)]="application.contacts" name="contacts" placeholder="Application Contacts" [disabled]="checkCode()" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" (ngModelChange)="checkEmail($event)">
                    <div class="alert alert-danger" *ngIf="contacts.touched && contacts.invalid">
                        <div *ngIf="contacts.errors.required">Application Contact is required.</div>
                        <div [hidden]="!contacts.errors?.pattern">Application Contact is invalid</div>
                    </div>
            </div>
            <br>
            <p>
                <button class="btn btn-primary save" [disabled]="!validEmail">Save</button>
                <input type="button" class="btn btn-info cancel" value="Cancel" (click)="cancel()">
            </p>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="imageUrl.value" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title" *ngIf="application.applicationCode">{{application.applicationCode}}</h4>
                <h5 class="card-title" *ngIf="application.applicationName">{{application.applicationName}}</h5>
                <h6 class="card-title" *ngIf="application.contacts">{{application.contacts}}</h6>
            </div>
        </div>
    </div>
</div>