  <!-- Main jumbotron for a primary marketing message or call to action -->
  <main>
  <div class="jumbotron">
    <div class="container">
      <h1 class="heading">BREF IN ANGULAR AND SPRING BOOT.</h1>
      <p>TCS Internship Project</p>
    </div>
    
  </div>
  
  <!--
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">EKANSH ANAND</h5>
          <h6 class="card-subtitle mb-2 text-muted">B.Tech I.T</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">HARSHIT SONI</h5>
          <h6 class="card-subtitle mb-2 text-muted">B.Tech ECE</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  -->


<!--
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>ANGULAR</h2>
        <p>Angular is used to create the front-end of this project.</p>
        <p><a class="btn btn-primary" href="https://angular.io/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>SPRING-BOOT</h2>
        <p>Spring-boot is used to create the back-end of this project.</p>
        <p><a class="btn btn-primary" href="https://spring.io/projects/spring-boot" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>MYSQL</h2>
        <p>MYSQL is used to create the database of this project.</p>
        <p><a class="btn btn-primary" href="https://www.mysql.com/" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> 
-->

</main>

<footer class="container footer">
  <hr>
  <p>&copy; Tata Consultancy Services</p>
</footer>
